@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&a&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url("../images/background.webp");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    font-family: "Alegreya",sans-serif;
    min-width: 420px;
}

.section-heading {
    font-size: 48px;
    letter-spacing: 8px;
    padding: 40px 0 0 0;
}

.container {
    margin-top: 40px;
    border-radius: 5px;
}

.table td {
    vertical-align: middle;
    padding: 6px;
}

.call-to-action {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 75px;
    color: #000;
}


/* Modal */

.modal {
    width: 100%;
}

.sign-up-modal {
    display: flex;
    position: absolute;
    top: 150px;
    align-items: center;
    border-radius: 0;
}

.modal-form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.modal-form-control {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #a1a1a1;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    height: 50px;
    border-radius: 0;
    border: none;
}

.modal-submit {
    height: 50px;
    width: 150px;
    padding: 10px;
    border-radius: 0;
}

.modal-header {
    display: inline;
}

.modal-exit {
    position: absolute;
    font-size: 32px;
    top: 5px;
    right: 15px;
    color: #fff;
    font-weight: 200;
    z-index: 2;
}


/* Header */

.header-main {
    background-image: url('../images/viper-cover.webp');
    position: relative;
    min-width: 400px;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

#top-bar {
    list-style-type: none;
    padding: 15px;
}

#social-icons {
    display: flex;
    justify-content: center;
    background-color: transparent;
    position: relative;
    top: 0;
    margin-top: 0;
}

#social-icons a {
    color: #fff;
}

#social-icons a:hover {
    color: #eeeeee;
}

#mobile-social-icons {
    display: none;
}

#menu-toggle {
    display: none;
}

.menu-icon-home {
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1000;
}

.menu-icon {
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1000;
}

#header-logo a {
    margin: 0 auto;
    display: inline-block;
}

#header-menu {
    margin-top: 20px;
    z-index: 3;
}

#header-menu a {
    color: #fff;
    font-size: 24px;
    padding: 0 0 5px 0;
    margin: 30px;
}

#header-menu a:hover {
    text-decoration: none;
    color: #eeeeee;
    border-bottom: 2px solid #eeeeee;
}

.header-call-to-action {
    font-weight: 500;
    font-size: 24px;
    position: relative;
    top: 220px;
    z-index: 2;
}


/* Tour */

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #343a40;
}


/* News */

#news {
    margin: 50px auto 0 auto;
}

.news-item img {
    border-radius: 10px;
    height: 250px;
    margin-bottom: 10px;
}


/* Music */

.music-item img {
    width: 100%;
    border-radius: 5px;
}

.music-item a {
    font-size: 20px;
    color: #fff;
}

.music-item a:hover {
    text-decoration: none;
}

.listen-now:hover {
    color: #6f279c;
}


/* Merch */

#merch {
    margin-top: 90px;
}

.merch-item p {
    font-size: 20px;
}

.merch-item a {
    color: #fff;
}

.merch-item a:hover {
    text-decoration: none;
}


/* Sign Up */

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.form-container input,
.form-container button {
    margin: 5px;
}

.form-control {
    padding: 10px;
    background-color: #a1a1a1;
    color: #000;
    font-size: 24px;
    font-weight: 500;
    width: 650px;
    height: 50px;
    border-radius: 0;
    border: none;
}

.submit {
    height: 50px;
    width: 150px;
    padding: 10px;
    border-radius: 0;
}

.form-control:focus {
    color: #000;
    background-color: #a1a1a1;
}

.form-control::placeholder {
    color: #000;
}

.form-container input:focus {
    outline: none;
    box-shadow: none;
}


/* Footer */

footer {
    padding: 100px 0 0 0;
}

.footer-socials {
    margin-bottom: 0px;
}

.footer-socials a:hover {
    color: #eeeeee;
}

.copyright-and-legal {
    width: 45%;
    margin: 0 auto;
}

.copyright {
    padding: 0 0 20px 0;
    margin: 0;
    text-align: center;
    font-size: 12px;
    width: 50%;
    float: left;
}

.legal-pages {
    padding: 0 0 20px 0;
    margin: 0;
    text-align: center;
    font-size: 12px;
    width: 50%;
    float: right;
}

.legal-pages a,
.footer-socials a {
    color: #fff;
}

.legal-pages a:hover {
    text-decoration: none;
    color: #6f279c;
}


/* Smaller Screens */

@media screen and (max-width: 1300px) {
    .copyright-and-legal {
        width: 65%;
    }
}

@media screen and (max-width: 1050px) {
    .copyright-and-legal {
        width: 75%;
    }
}

@media screen and (max-width: 992px) {
    .form-control {
        font-size: 22px;
    }
}

@media screen and (max-width: 950px) {
    #social-icons {
        display: none;
    }

    #mobile-social-icons {
        display: none;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
    }

    #mobile-social-icons li {
        padding: 5px;
    }

    #mobile-social-icons a {
        font-size: 24px;
        color: #fff;
    }
    
    #mobile-social-icons a:hover {
        color: #eeeeee;
    }
        
    .icon-bar {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.3s ease;
    }

    .menu-icon-home {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
    .menu-icon {
        display: block;
        position: absolute;
        top: 10px;
        right: -55px;
    }

    #header-logo {
        margin-top: 50px;
    }

    #header-menu {
        display: none;
        margin-top: 0;
    }

    #header-menu a {
        font-size: 32px;
    }

    #menu-toggle:checked ~ .menu-icon {
        display: flex;
        position: fixed;
        top: 10px;
        right: 20px;
    }

    #menu-toggle:checked ~ .menu-icon-home {
        display: flex;
        position: fixed;
        top: 10px;
        right: 20px;
    }

    #menu-toggle:checked ~ #header-menu {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        flex-direction: column;
        padding-top: 150px;
        z-index: 900;
        overflow-y: scroll;
    }

    #menu-toggle:checked ~ #mobile-social-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
        position: fixed;
        top: 480px;
        left: 0;
        width: 100%;
        background-color: #000;
        z-index: 1000;
    }

    #menu-toggle:checked + .menu-icon .bar1 {
        transform: rotate(45deg);
        margin: 0;
        position: absolute;
        top: 15px;
        left: 80%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    #menu-toggle:checked + .menu-icon .bar2 {
        opacity: 0;
        width: 0;
    }

    #menu-toggle:checked + .menu-icon .bar3 {
        transform: rotate(-45deg);
        margin: 0;
        position: absolute;
        top: 15px;
        left: 80%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    #menu-toggle:checked + .menu-icon-home .bar1 {
        transform: rotate(45deg);
        margin: 0;
        position: absolute;
        top: 15px;
        left: 80%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    #menu-toggle:checked + .menu-icon-home .bar2 {
        opacity: 0;
        width: 0;
    }

    #menu-toggle:checked + .menu-icon-home .bar3 {
        transform: rotate(-45deg);
        margin: 0;
        position: absolute;
        top: 15px;
        left: 80%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .menu-icon-home .icon-bar {
        transition: all 0.3s ease;
    }

    .menu-icon .icon-bar {
        transition: all 0.3s ease;
    }

    .menu-icon-home .bar2 {
        transition: 0.000000000000000000001s ease;
    }

    .menu-icon .bar2 {
        transition: 0.000000000000000000001s ease;
    }

}

@media screen and (max-width: 844px) {
    .header-call-to-action {
        font-weight: 500;
        position: relative;
        top: 170px;
    }

    .copyright-and-legal {
        width: 85%;
    }
}

@media screen and (max-width: 768px) {
    .form-container {
        flex-direction: column;
    }

    .form-control {
        width: 500px;
        font-size: 18px;
    }

    .submit {
        height: 45px;
        width: 95px;
        font-size: 18px;
    }
}

@media screen and (max-width: 700px) {
    .header-call-to-action {
        font-weight: 500;
        position: relative;
        top: 170px;
    }

    .submit {
        height: 40px;
        width: 90px;
        font-size: 16px;
        padding: 2px;
    }

    .copyright-and-legal {
        width: 95%;
    }
    
    .copyright,
    .legal-pages {
        width: 100%;
        margin-top: -15px;
    }
}

@media screen and (max-width: 576px) {
    .tour-call-to-action {
        padding: 5px;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 60px;
    }
}


@media screen and (max-width: 550px) {
    .header-call-to-action {
        position: relative;
        top: 150px;
    }

    .form-control {
        width: 400px;
        font-size: 16px;
        height: 40px;
    }

    .submit {
        width: 85px;
        height: 35px;
        padding: 2px;
        font-size: 14px;
    }

    .copyright-and-legal {
        width: 95%;
    }

    .copyright,
    .legal-pages {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .header-call-to-action {
        font-size: 20px;
        position: relative;
        top: 120px;
    }

    .form-control {
        width: 300px;
        font-size: 14px;
        height: 30px;
    }

    .submit {
        width: 80px;
        height: 30px;
        font-size: 12px;
        padding: 0;
    }

    .copyright-and-legal {
        width: 95%;
        float: none;
    }
}